apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: shop
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: api
        image: nginx:alpine 
        ports:
        - containerPort: 80
        
        # --- PHẦN 1: INJECT BIẾN MÔI TRƯỜNG ---
        env:
        # Lấy Host từ ConfigMap
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: backend-cfg
              key: DB_HOST
              
        # Lấy User/Pass từ Secret (An toàn tuyệt đối)
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: MYSQL_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: MYSQL_PASSWORD

        # --- PHẦN 2: SELF-HEALING (TỰ CHỮA LÀNH) ---
        # Kiểm tra xem App có đang sống không? Nếu chết -> Restart
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 20
          
        # Kiểm tra xem App đã sẵn sàng nhận khách chưa? Nếu chưa -> Không gửi traffic
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10